/* $green: #b3c1b3;
$blue: #4f9aaf;
$white: #fcfaf1;
$orange: #fadec4; */

html{
    scroll-behavior: smooth;
}

body{
  background-color: white;
}

h1, h2, h3, h4, h5, h6, p, a{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

nav {
  position: fixed;
  width: 100%;
  height: 15vh;
  top: 0;
  left: 0;
  z-index: 3;
}

#navbar{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 50px;
  margin: 0;
}

nav ul{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}

nav li{
  margin: 15px;
  padding-right: 10px;
  list-style: none;
  font-weight: 700;
}

nav a {
  color: #000000;
  font-size: 1em;
  text-decoration: none;
}

nav a:after{
  color: #000000;
  text-decoration: none;
}

nav a:hover{
  font-size: 1.2em;
  color: #faa555;
  text-decoration: none;
}

section{
    height: 110vh;
    width: 100%;
    display: inline-block;
}

#welcome-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./public/tro.png);
  background-size: cover;
  background-attachment: fixed;
}

#welcome-section div{
  margin: -28px;
}

#welcome-section .div-h2{
    padding-left: 18%;
    padding-top: 0%;
}

h1{
  font-size: 3vw;
}

h2{
  font-size: 1.5vw;
  color: #ffa652;
  display: flex;
  justify-content: center;
}




#projects{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.project-tile{
    margin: 4% 4%;
    width: 16%;
    height: 20%;
    transition: 0.8s ease;
    backface-visibility: hidden;
    position: relative;
    padding: 0% 2%;
}
 
.project-tile:hover{
    font-size: 18px;
    transform: scale(1.05);
}

.project-tile:hover a{
    opacity: 0.3;
}

.project-tile:hover .project-tile-middle {
  opacity: 1;
}

#project-img{
    width: 165%;
    height: 140%;
    box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.69);
    border-radius: 2px;
}

.project-tile-middle{
    height: 77%;
    transition: 0.5s ease;
    position: absolute;
    top: 38.5%;
    left: 63%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    width: 107%;

}

.project-tile-middle a{
  text-decoration: none;
}

.project-text{
    background-color: rgb(7, 4, 4);
    color: white;
    font-size: 16px;
    font-weight: 400 !important;
    opacity: 0.8;
    width: 125%;
    height: 182%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
}

.project-text:active{
  color:#ffa652;
}


#about{
  background-image: url(./public/barn.png);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-text{
    background-color: rgb(248, 250, 248);
    opacity: 0.1;
    width: 70%;
    height: 30%;
    z-index: 0;
    position: absolute;
}

.about-hello-div{
  opacity: 1;
  z-index: 1;
}

.about-hello{
  font-weight: 500;
  opacity: 1;
  padding: 0% 10%;
}

.about-para{
  padding: 1% 10%;
}


#contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contacts-first-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20%;
}

#contacts-div{
    margin-top: 5px;
}

.contacts-link{
    margin: 0px 10px;
}

#contact-img{
    width: 70px;
}

#contact-img:hover{
    transform: scale(1.1);
}

/* @media screen (max-width: 768px) {
  
} */




#footer{
  background-color: #f5f5f5;
  width: 100%;
  height: 25vh;
  position: absolute;
  left: 0;
  bottom: -342%;
  opacity: 0.9;
}

.footer-div-first-row{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

.footer-first{
margin-top: 0.5%;
}

.footer-last{
  margin-top: 0.5%;
}

.footer-ul ul{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  list-style: none;
}

footer li{
  margin: 4px;
  list-style: none;
}

footer a{
  color: #000000;
  text-decoration: none;
}

footer a:after{
  color: #000000;
  text-decoration: none;
}

.footer-div-second-row{
  margin-top: 2%;
  padding-left: 10%;
}


/* #togglefirst{} */
#togglesecond{
  display: none;
  margin: -1.28% 7.5%;
  position: absolute;
}

footer p{
  margin: 0;
}

/*#profile-link{}*/



